<div class="console-container">
  <mat-card>
    <mat-card-title>Console</mat-card-title>
    <mat-divider inset></mat-divider>

    <mat-card-content>
      <div class="logs-container">
        <div class="logs-list">
          <cdk-virtual-scroll-viewport
            appendOnly
            itemSize="50"
            class="messages-container"
          >
            <div *ngFor="let message of messages | async" class="message-item">
              <span>LOG: </span>{{ message }}
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
